.rowSkinStepTwo{
    max-width: 500px;
    text-align: left;
    min-width: 500px;
    margin-bottom: 2rem;
}

.containerTitleSkinStepTwo{
    text-align: justify;
}

.rowSwitchSkin{
    margin-bottom: 5rem;
}

