.rowSkin{
    max-width: 500px;
    text-align: left;
    min-width: 500px;
    margin-bottom: 2rem;
}
.containerTitleSkin{
    text-align: justify;
}
.containerSubmitButton{
    width: 25%;
    height: 3rem;
}
.rowSubmitButton{
    justify-content: end;
    margin-top: 7rem;
}