.addOnOptionSkin{
    color: #D4D3D4;
    height: 90px;
    margin-bottom: 0.2rem;
    padding: 0.5rem !important;
}

.addOnOptionCheckboxSkin{
    margin: 0.5rem;
    background-color: #D4D3D4;
    border: solid #D4D3D4 1px !important;
}

.amountSkin{
    margin-left: 10rem;
}