.rowSkinStepTwo{
    max-width: 500px;
    text-align: left;
    min-width: 500px;
    margin-bottom: 2rem;
}
.containerTitleSkinStepTwo{
    text-align: justify;
}
.containerSubmitButtonStepTwo{
    margin-top: 5rem;
    text-align: end;
    padding-right: 0px;
}
.containerBackButtonStepTwo{
    text-align: justify;
    margin-top: 5rem;
}
.submitButtonStepTwoStyle{
    width: 53.5%;
    height: 3rem;
}
.backButtonStepTwo,.backButtonStepTwo:hover,.backButtonStepTwo:active,.backButtonStepTwo:focus{
    width: 53.5%;
    height: 3rem;
    color: black;
    background: none;
    border: unset;
}