.sideBarCardComponentSkin {
    background:url(../../assets/bg-sidebar-desktop.svg); 
    height: 35rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 280px;
    max-width: 280px;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}
.sideBarCardComponentTextSkin{
    text-align: justify;
}
.sideBarCardButtonSkin{
    border-radius: 70%;
    color: #FFF;
    border: 1px solid #FFF;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    background: unset;
}
.sideBarCardButtonSkinActive{
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}
.sideBarCardListSkin{
    background-color: unset;
    border: unset;
    color: #FFF;
}
.sidebarCardSubtextSkin{
    color:#A0B9C8;
}
.sidebarCardBodySkin{
    padding-left: 0px;
    padding-top: 0px;
}